<!-- Un componente de vue tiene tres elementos
1.- Script
2.- Template 
3.- Style -->   
<script setup>
import {reactive} from 'vue'

let paises=reactive([
    {id:1,pais:'Peru',ciudad:'Tocache',estado:true},
    {id:2,pais:'Peru',ciudad:'Huancayo',estado:true},
    {id:3,pais:'Peru',ciudad:'Lima',estado:false},
    {id:4,pais:'Chile',ciudad:'Santiago',estado:true},
    {id:5,pais:'Chile',ciudad:'Arica',estado:true},
    {id:6,pais:'Chile',ciudad:'Valpariso',estado:true},
    {id:7,pais:'Argentina',ciudad:'Buenos aires',estado:true},
    {id:8,pais:'Argentina',ciudad:'Tucuman',estado:false},
    {id:9,pais:'Argentina',ciudad:'San Lorenzo',estado:true},
])

const saludar = () => {
  alert("Hola Mundo");
};

const activar=(pais)=>{
    pais.estado=true
}
const desactivar=(pais)=>{
    pais.estado=false
}
</script>

<template>
  <h1 class="bg-blue-700 p-4 text-white uppercase">Hola mundo</h1>
  <div class="grid grid-cols-2 gap-2 p-3">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores qui
      soluta eius ut, et neque incidunt maxime. Atque non ipsum blanditiis
      obcaecati doloremque quas placeat, labore eius aliquam ex illum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores qui
      soluta eius ut, et neque incidunt maxime. Atque non ipsum blanditiis
      obcaecati doloremque quas placeat, labore eius aliquam ex illum!
    </p>
  </div>
<div class="p-3">
    <table class="border-collapse border border-slate-400 w-full ">
        <thead>
        <tr>
            <th class="border border-slate-300">ID</th>
            <th class="border border-slate-300">Pais</th>
            <th class="border border-slate-300">Ciudad</th>
            <th class="border border-slate-300">Estado</th>
            <th class="border border-slate-300">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="pais in paises" :key="pais.id">
            <td class="border border-slate-300" :class="{'bg-red-200':!pais.estado}">{{ pais.id }}</td>
            <td class="border border-slate-300" :class="{'bg-red-200':!pais.estado}">{{ pais.pais }}</td>
            <td class="border border-slate-300" :class="{'bg-red-200':!pais.estado}">{{pais.ciudad}}</td>
            <td class="border border-slate-300" :class="{'bg-red-200':!pais.estado}">{{pais.estado}}</td>
            <td class="border border-slate-300" >
                <button v-if="!pais.estado" v-on:click="activar(pais)" class="border-green-300 border-2 p-2 rounded" >Activa</button>
                <button v-if="pais.estado" v-on:click="desactivar(pais)" class="border-red-300 border-2 p-2 rounded" >Desactiva</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    

    <button
    v-on:click="saludar()"
    class="bg-green-400 py-2 px-4 m-2 rounded-lg hover:bg-green-600 hover:text-white"
  >
    Saludar
  </button>
</template>

<style>
</style>